.form{
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #55555595;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container-inputs{
    background-color: #fff;
    border-radius: 1vw;
    border: 0.1vw solid #e4e4e4 ;
    display: grid;
    row-gap: 1vw;
    grid-auto-flow: row;
    justify-items: center;
    align-content: center;
    align-items: center;
    width: 30vw;
    height: 20vw;
}

.form div input{
    border: 0.1vw solid #bbb;
    background-color: #eee;
    border-radius: 0.1vw;
    width: 80%;
    padding: 0.3vw;
}


.form button{
    cursor: pointer;
    border-radius: 0.1vw;
    width: 20%;
    background-color: #ccc;
    font-size: 1vw;
    padding: 0.5vw;
}

.form button:hover{
    background-color: #000;
    color: #fff;
}

.error{
    font-size: 1vw;
    color: red;
}

.requirements{
    height: 0;
    width: 80%;
    font-size: 0.85vw;
    color: #333;
}



@media screen and (max-width: 700px) {
    
    .form{
        height: 200%;
    }

    .container-inputs {
        width: 90vw;
        height: 50vw;
        row-gap: 2vw;
    }

    .form div input{
        font-size: 3.5vw;
        padding: 1vw;
    }

    .form button {
        width: 25vw;
        font-size: 3.5vw;
    }

    .requirements {
        font-size: 2.4vw;
        padding-bottom: 0.3vw;
    }
}