@import url('https://fonts.googleapis.com/css2?family=Play&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    outline: none;
    font-family: 'Play', sans-serif;
    list-style: none;
    text-decoration: none;
    color: #0b0a2e;
    font-size: 1.2vw;
}

.header{
    border-bottom: 0.1vw solid #ccc;
    background: #b8b8b8;
    width: 100vw;
    height: 5vw;
    position: absolute;
    top: 0;
    display: flex;
    justify-content: space-between;
    padding: 0 3vw;
    align-items: center;
}

.hide{
    display: none;
}

.logo{
    font-size: 1.8vw;
    cursor: pointer;
}

.links{
    display: flex;
    gap: 2vw;
}

.links li a, .links li button{
    cursor: pointer;
    white-space: nowrap;
    font-size: 1.2vw;
    background: none;
}

.links li a:hover, .links li button:hover{
    text-decoration: underline;
}

footer {
    background-color: #4c4c4d;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1vw;
    height: 5vw;
    width: 100vw;
    border-top: 0.1vw solid #ccc;
}

footer p {
    color: #fff;

}


@media screen and (max-width:700px) {
    * {
        font-size: 5vw;
    }

    body {
        height: max-content;
    }

    .header, footer {
        height: 15vw;
    }

    .header .logo {
        font-size: 5vw;
    }

    .header ul li a, .header ul li button {
        font-size: 3vw;
    }


}